# Version control
.git
.gitignore

# Docker related files
.dockerignore
Dockerfile*
docker-compose.yml

# Documentation and miscellaneous
README.md
.vscode
*.log

# Configuration files
.env
*.key
*.pem
